#test-container {
    position: relative;
    width: 100%;
    width: 600px;
    height: auto;
    font-size: 1.5em;
    line-height: 1.5em;
    margin: auto;
    white-space: pre-wrap;
    font-family: monospace;
    user-select: none;
}

#blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #333;
    cursor: pointer;
}

#sentence {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    word-wrap: break-word;
    font-family: monospace;
    color: #ccc;
}

#sentence span.correct {
    color: green;
}
#sentence span.incorrect {
    color: red;
}

#input {
    width: 0;
    height: 0;
    font: inherit;
    color: transparent;
    background: transparent;
    border: none;
    caret-color: transparent;
    z-index: 1;
}

#input:focus {
    outline: none;
}

.caret {
    display: inline-block;
    position: absolute;
    width: 2px;
    background: black;
    height: 1.2em;
    pointer-events: none;
}

.caret#start {
    animation: blink 1s linear infinite;
}

.ghost-caret {
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 1.2em;
    background: steelblue;
    pointer-events: none;
}

@keyframes blink {
    50% { opacity: 0; }
}

#result {
    display: flex;
    justify-content: center;
    text-align: center;
}